section.hero{
    margin-top: 3rem;
}



/* ---------------------------------------- */
/* 1-left section */
/* ---------------------------------------- */
section.hero .parent-avatar.flex{
    align-items: end;
    gap: 0.6rem;
}


section.hero .left-section{
   flex-grow: 1;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

section.hero .avatar{
width: 90px;
    border-radius: 50%;
    border: 2px solid rgb(13, 149, 144);
    padding: 2px;
    

}


section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin:  24px 0;
    color: var(--title);
}

section.hero p.sub-title{
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.65rem ;
    margin-bottom: 32px;

}



section.hero .all-icons{
    font-size: 1.2rem;
    gap: 1.5rem;
    color: var(--subtitle);
}

section.hero .all-icons .icon:hover{

    font-size: 1.3rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
}




/* ---------------------------------------- */
/* 2-right section==> animation */
/* ---------------------------------------- */

.animation{
    width: 100%;
    translate : 100px 55px;

}



