.project-details {
  padding-top: 50px;
}

.project-details img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.project-details h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-details p {
  font-size: 1.2rem;
  color: #6c757d;
  line-height: 1.6;
}





